@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply text-zinc-600 dark:text-zinc-400;

    .outerBullet {
      margin-bottom: -20px;
      margin-top: -8px;
      margin-left: 10px;
    }

    .indent {
      margin-left: 60px;
      /* margin-top: -1px; */
    }

    .innerBullet {
      margin-left: 25px;
      margin-top: -16px;
    }

    .textbox {
      border: 1px solid #aaa; /* Gray border */
      padding-left: 5px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 15px;
      color: aliceblue;
      margin: 2px;
      margin-top: 25px; /* Space outside the box */
      background-color: #0d0d1d; /* Light gray background */
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
      border-radius: 5px; /* Rounded corners */
    }

    .footnote-ref {
      /* Styles for the footnote reference (the small number in the content) */
      vertical-align: super;
      font-size: smaller;
    }

    .footnotes {
      /* Styles for the section containing all footnotes */
      margin-top: 2em;
      border-top: 1px solid #ccc;
    }

    .footnotes li {
      /* Style each individual footnote */
      margin-bottom: 0.5em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-900 dark:text-zinc-200;
  }

  hr {
    @apply border-zinc-100 dark:border-zinc-700/25;
  }
}

details > summary {
  cursor: pointer;
  display: flex;
  align-items: flex-start; /* Changed from "top" to "flex-start" for correct behavior in flex containers */
}

details > summary::before {
  content: '▷';
  color: #777;
  margin-right: 10px;
  margin-top: 20px; /* Move the arrow down by 20 pixels */
}

details[open] > summary::before {
  content: '▽';
}

