@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply text-zinc-600 dark:text-zinc-400;

    .outerBullet {
      margin-bottom: 0px; 
      margin-top: 12px; 
      margin-left: 10px;
    } 

    .innerBullet {
      margin-left: 25px;
      margin-top: 4px;
    }
    

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-900 dark:text-zinc-200;
  }

  hr {
    @apply border-zinc-100 dark:border-zinc-700/25;
  }
}

details > summary {
  cursor: pointer;
  display: flex;
  align-items: top;
}

details > summary::before {
  content: '▷';
  color: #777;
  margin-right: 10px;
}

details[open] > summary::before {
  content: '▽';
}


